* {
    /* Change your font family */
    font-family: sans-serif;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5em;
    min-width: 400px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    justify-content: center;
}
.content-table thead caption {
    text-align: center;
    font-weight: bold;
    min-width: 1000px;
    color: rgb(27, 11, 132);
    text-align: center;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-align: center;
}

nav{
    text-align: center;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
   
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    text-align: center;
}
.content-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
    text-align: center;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    text-align: center;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    text-align: center;
}

.caption {
    color: #ffffff;
    font-size: 1.3em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    background-color: #009879;
    margin-top: 100px;
    text-align: center;
}
.subcaption {
    color: #ffffff;
    margin-top: 0.5%;
    font-size: 1.0em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 280px;
    background-color: #009879;
    text-align: center;
}
.search123 {
    min-width: 600px;
    padding: 100px;
}
.bnlg button{
    margin-top: 16px;
}
